body {
	font-family: "Montserrat", Arial, sans-serif;
	min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header {
	width: 100%;
}
.header__logo-wrap {
    display: flex;
    justify-content: space-between;
    min-width: 461px;
    background-color: black;

}

.header__logo {
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 0.07em;
	width: 98px;
	height: 37px;
	color: white;
	align-self: flex-start;
	margin-left: 52px;
	margin-top: 36px;
}

.header__lang {
	display: none;
}

.header__menu {
    display: flex;
    align-self: flex-end;
    width: 92px;
    height: 92px;
    background: #f5f5f3;
    cursor: pointer;
}

.header__burg {
    align-self: center;
    margin: auto;
}

.header__burg-line {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
}

.header__burg-line:first-of-type {
    margin-bottom: 5px;
}

.header__lang {
    position: relative;
    display: block;
    width: 50px;
    align-self: center;
    padding: 14px 20px 0 0;
}

.header__lang-ru {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    line-height: normal;
    font-size: 20px
}

.header__lang-ru::after {
    position: absolute;
    top: 20px;
    right: 23px;
    display: block;
    content: "";
    width: 7px;
    height: 6px;
    border: 2px solid #FFF;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
 }

.header__menu {
    width: 92px;
    height: 92px;
    margin-right: 0;
}

.header__burg-line:first-of-type {
    margin-bottom: 5px;
}

.header__burg-line {
    width: 35px;
    height: 4px;
}

@media (max-width: 992px) {
	.header {
		display: flex;
		justify-content:space-between;
		height: 71px;
		width: 100%;
	}

	.header__logo-wrap {
		background-color: white;
		width: 317px;
	}


	.header__logo {
		flex: 1;
		padding-left: 30px;
		color: black;
		width: 98px;
		height: 37px;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
	}

	.header__lang {
		display: none;
	}

	.header__menu {
    width: 92px;
    height: 92px;
    margin-right: 0;
}

.header__burg-line:first-of-type {
    margin-bottom: 5px;
}

.header__burg-line {
    width: 35px;
    height: 4px;
}
}

.first {
	width: 100%;
}


.first {
    background: linear-gradient(to right, #000 461px, #FFF 461px);
    height: 808px;
    display: flex;
    flex-flow: column;
    }


.first__wrap {
    height: 716px;
    display: flex;
    align-items: center;
    background-image: none;
    flex-flow: row;
    justify-content: flex-start;
    }

.first__wrap-img {
    background-image: url(./img/pete-bellis-432867-unsplash.png);
    background-repeat: no-repeat;
    z-index: 10;
    height: 562px;
    width: 735px;
    background-position: right;
    }

.first__description {
	width: 555px;
    height: 397px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
}

.first__title {
    padding-left: 0;
    margin-top: 0;
    width: 475px;
    height: 164px;
    font-weight: bold;
    line-height: 82px;
    font-size: 80px;
    text-align: left;
    margin-bottom: 26px;
}

.first__text {
	margin-top: 0px;
	width: 467px;
	height: 127px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
}

.first__btn {
	display: flex;
    justify-content: space-between;
    width: 490px;
}

.first__btn-next {
	margin-right: 19px;
	color: black;
	width: 203px;
	height: 44px;
	font-weight: 500;
	font-size: 13px;
	border: 1.5px solid #000;
	background: none;
}

.first__btn-link {
	text-decoration: none;
	color: black;
	width: 232px;
	line-height: 3.5em;
	position: relative;
	cursor: pointer;
	font-size: 13px;

}

.first__btn-link::after {
	content: "";
	display: inline;
	position: absolute;
	margin-left: 19px;
	margin-top: 15px;
	height: 12px;
	width: 44px; 
	background-image: url(./img/Vector2.1.png);      
}

@media (max-width: 992px) {
	.first__wrap {
		background-image: url(./img/logo.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		
	}

	.first__wrap-img {
		display: none;
	}

	.first__title {
		position: absolute;
		width: 297px;
        font: normal bold 50px Montserrat;
        align-self: center;
        margin-top: 50px;
	}

	.first__title::after {
		content: '';
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border-right: 3px solid #000;
		border-top: 3px solid #000;
		transform: rotate(135deg);
		margin-left: 120px;
		margin-top: 20px;
		cursor: pointer;
	}



	.first__text {
		display: none;
	}

	.first__btn {
		display: none;
	}
}

.footer {
	display: flex;
	width: 707px;
	justify-content: space-between;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
    width: 153px;
    margin-left: 52px;
}

.footer__scroll {
   display: flex;
}

.footer__scroll-img {
	width: 27px;
	height: 46px;
	background: white;

}

@media (max-width: 992px) {
	.footer {
		display: none;
	}
}

